<!DOCTYPE html>
<html>
<head>
    <title>About My Blog</title>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="about.css"> 
    <link rel="stylesheet" href="footer.css">

</head>
<body>
    <%- include('navbar_layout.ejs') %>
    <header class="about-header">
        <h1>About My Blog</h1>
    </header>

    <div class="about-content">
        <h2>Little information about me:</h2>
        <p>Hello, I'm Muhan Murotboev, a 19-year-old student at Astana IT University in the BDA-2206 group. When I'm not in class or studying, you'll find me immersed in my passions. I'm an avid online gamer, a chess enthusiast, and a comic book aficionado. I also enjoy watching anime serials, which never fail to captivate my imagination.</p>
    </div>
    <%- include('footer_layout.ejs') %>

</body>
</html>
