<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>About Me</h3>
            <p>Murotboev Muhan</p>
            <p>Astana IT University</p>
            <p>Class/Group: BDA-2206</p>
        </div>
        <div class="footer-section">
            <h3>Contact Information</h3>
            <p>Email: 220863@astanait.edu.kz</p>
            <p>LinkedIn: <a href="https://kz.linkedin.com/in/mukhan17" target="_blank" style="color: white;">LinkedIn Profile</a></p>
        </div>
    </div>
    <div class="footer-divider"></div>
    <p class="footer-copyright">&copy; 2023 My Blog</p>

</footer>
