<nav class="top-navbar">
    <div class="left-links">
        <a href="/">My Blog</a>
    </div>
    <div class="right-links">
        <a href="/">Home</a>
        <a href="newpost">New Post</a>
        <a href="about">About</a>
    </div>
</nav>